@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

$sideNavBackgroundColor: #020f7a;
$whiteFontColor: #fff;

$sideNavTitle: "Poppins";
$sideNavFontSizeTitle: 18px;
$sideNavTitlePadding: 7px;
body {
  font-family: Segoe UI, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}
.educanetBlueBgTheme {
  background-color: $sideNavBackgroundColor;
  color: $whiteFontColor;
}
.sideNavStyles {
  font-family: $sideNavTitle;
  font-size: $sideNavFontSizeTitle;
  padding: $sideNavTitlePadding;
}
.sideNavMajorContainerStyles {
  background-color: $sideNavBackgroundColor;
  color: $whiteFontColor;
  font-family: $sideNavTitle;
}
.sideNavMajorContainerStyles ::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.sideNavMajorContainerStyles ::-webkit-scrollbar-track {
  background: $sideNavBackgroundColor;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.sideNavMajorContainerStyles ::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
mat-sidenav {
  min-width: 350px;
  input {
    padding: 10px;
    width: 70%;
    margin-left: 1vh;
    font-family: "Montserrat";
    border-radius: 5px;
    border: 1px solid #fff;
    &:focus {
      outline-style: none;
    }
  }
  mat-icon {
    width: 30%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 320px) and(max-width: 550px) {
    min-width: 350px;
  }
}
mat-list {
  mat-list-item {
    mat-icon {
      color: $whiteFontColor;
    }
    h3 {
      font-family: $sideNavTitle;
      color: $whiteFontColor;
    }
    p {
      font-size: $sideNavTitlePadding;
      font-family: "Segoe UI";
      color: $whiteFontColor;
    }
    &:hover {
      background-color: $whiteFontColor;
      border-radius: 10px;
      cursor: pointer;
      mat-icon,
      h3,
      p {
        color: $sideNavBackgroundColor;
      }
    }
  }
}
mat-card-title {
  font-family: $sideNavTitle;
  text-transform: uppercase;
}
mat-card-content {
  form {
    label {
      font-family: $sideNavTitle;
      font-size: 12px;
      display: block;
      padding-top: 10px;
    }
    input {
      width: 100%;
      border: 1px solid lightgrey;
      padding: 7px;
      border-radius: 10px;
      &:focus {
        outline-style: none;
      }
    }
    small {
      display: flex;
      padding-top: 10px;
      justify-content: flex-end;
      cursor: pointer;
      color: $sideNavBackgroundColor;
    }
    select {
      width: 100%;
      padding: 7px;
      font-family: $sideNavTitle;
      border-radius: 10px;
      border: 1px solid lightgrey;
      &:focus {
        outline-style: none;
      }
    }
  }
  h3 {
    font-family: $sideNavTitle;
    font-size: 15px;
    color: grey;
    font-weight: 400;
  }
}
mat-card {
  mat-card-actions {
    padding-left: 15px !important;
    padding-right: 15px !important;
    button {
      background-color: transparent;
      border: 1px solid $sideNavBackgroundColor !important;
      color: $sideNavBackgroundColor !important;
      font-family: $sideNavTitle !important;
      margin-top: 5px !important;
      font-size: 12px !important;
      border-radius: 10px !important;
      &:hover {
        background-color: $sideNavBackgroundColor !important;
        color: $whiteFontColor !important;
      }
    }
  }
}
mat-sidenav-content {
  p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    span {
      font-weight: 800;
    }
    small {
      font-size: 13px;
      font-family: "Roboto";
    }
  }
  label {
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.6px;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  input {
    border: 1px solid #e3e5e8;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
    &:focus {
      outline-style: none;
    }
  }
  select {
    border: 1px solid #e3e5e8;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
    &:focus {
      outline-style: none;
    }
  }
}
.connect_intro_cards {
  display: flex;
  justify-content: center;
  button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $sideNavBackgroundColor;
    color: $whiteFontColor;
    font-family: "Montserrat";
    font-size: 15px;
    border: 1px solid $sideNavBackgroundColor;
    border-radius: 10px;
    padding: 10px;
    &:focus {
      outline-style: none;
    }
    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid $sideNavBackgroundColor;
      color: $sideNavBackgroundColor;
    }
  }
  small {
    a {
      cursor: pointer !important;
      &:hover {
        color: $sideNavBackgroundColor;
      }
    }
  }
  @media (max-width: 800px) {
    display: block;
  }
}
/**  Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
